body {
	background: #000000;
	color:white;
	font-family: arial;
	text-align: center;
}

canvas {

}

audio {
	width:400px;
	margin-bottom:20px;
}


#lufsContainer {
	width:400px;
	margin: 0 auto;
	height:400px;
	margin-bottom:20px;
	
}